{% extends "base.html" %}
{% block title %}{{film.title}}{% endblock title %}
{% block content %}
<div class="flex place-content-center pt-10">
  <div class="basis-1/2 flex-none">
    <div class="grid grid-cols-4 gap-4 flex-none">
      <div class="col-span-1">
        <a href="https://letterboxd.com/tmdb/{{film.tmdb_id}}">
          <img class="rounded-lg flex-none" src="https://image.tmdb.org/t/p/w342{{film.poster_path}}">
        </a>
      </div>
      <div class="col-span-3">
        <h1 class="text-5xl">{{film.title}}</h1>
        <p class="mt-6">{{film.desc}}</p>
      </div>
    </div>
    <div>
      <p>
        {{event.text}}
      </p>
    </div>
  </div>
</div>

{% endblock content %}
