{% extends "base" %}
{% block title %}Startseit{% endblock title %}
{% block content %}
<div class="p-4 sm:ml-64">
   <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
      <div class="grid grid-cols-7 gap-4 mb-4">
        {% for film in films %}
        <img class="flex rounded-lg" src="https://image.tmdb.org/t/p/w185{{film.poster_path}}">
        {% endfor %}
      </div>
   </div>
   <a href="/event/new">Neues Event</a>
</div>
{% endblock content %}
